{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Parcela /</span> Lista</h4>

    <div class="card mb-4">
        <div class="card-widget-separator-wrapper">
            <div class="card-body card-widget-separator">
                <div class="row gy-4 gy-sm-1">
                    <div class="col-sm-6 col-lg-3">
                      <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-3 pb-sm-0">
                        <div>
                          <h3 class="mb-1">{{ page_obj.paginator.count }}</h3>
                          <p class="mb-0">Parcelas</p>
                        </div>
                        <div class="avatar me-lg-4">
                          <span class="avatar-initial rounded bg-label-primary">
                            <i class="bx bx-list-ul bx-sm"></i>
                          </span>
                        </div>
                      </div>
                      <hr class="d-none d-sm-block d-lg-none" />
                    </div>
                  
                    <div class="col-sm-6 col-lg-3">
                      <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-3 pb-sm-0">
                        <div>
                          <h3 class="mb-1">R$ {{ total_amount|floatformat:2 }}</h3>
                          <p class="mb-0">Valor Total</p>
                        </div>
                        <div class="avatar me-sm-4">
                          <span class="avatar-initial rounded bg-label-info">
                            <i class="bx bx-bar-chart-alt-2 bx-sm"></i>
                          </span>
                        </div>
                      </div>
                      <hr class="d-none d-sm-block d-lg-none me-4" />
                    </div>
                  
                    <div class="col-sm-6 col-lg-3">
                      <div class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-3">
                        <div>
                          <h3 class="mb-1">R$ {{ total_paid|floatformat:"2" }}</h3>
                          <p class="mb-0">Pagas</p>
                        </div>
                        <div class="avatar me-sm-4">
                          <span class="avatar-initial rounded bg-label-success">
                            <i class="bx bx-up-arrow-circle bx-sm"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  
                    <div class="col-sm-6 col-lg-3">
                      <div class="d-flex justify-content-between align-items-start">
                        <div>
                          <h3 class="mb-1">R$ {{ total_unpaid|floatformat:"2" }}</h3>
                          <p class="mb-0">Pendentes</p>
                        </div>
                        <div class="avatar">
                          <span class="avatar-initial rounded bg-label-danger">
                            <i class="bx bx-down-arrow-circle bx-sm"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </div>

    <!-- Installments List Table -->
    <div class="card">
        <div class="card-header d-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtersOffcanvas">Filtros</button>
        </div>
        <div class="card-datatable table-responsive">
            <table class="invoice-list-table table border-top mb-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>Entidade</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <!-- <th class="cell-fit">Ações</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for installment in object_list %}
                    <tr>
                        <td class="dt-select"><input aria-label="Select row" class="form-check-input" type="checkbox" />
                        </td>
                        <td>
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="avatar-wrapper">
                                    <div class="avatar avatar-sm me-3">
                                        <span class="avatar-initial rounded-circle bg-label-primary">
                                            {% if installment.fin_record.entity %}
                                                {{ installment.fin_record.entity.name|slice:":2"|upper }}
                                            {% else %}
                                                <img src="{% static 'assets/img/avatars/anonymous.svg' %}" alt="Anonymous avatar">
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <span class="text-heading text-truncate fw-medium">{{ installment.fin_record.entity.name|default:"Entidade Desconhecida" }}</span>
                                    <small class="text-truncate">{{ installment.fin_record.entity.document }}</small>
                                </div>
                            </div>
                        </td>
                        <td>{{ installment.fin_record.category.name }}</td>
                        <td class="dt-type-numeric">
                            <span class="d-none">{{ installment.fin_record.amount|floatformat:"2" }}</span>R$ {{ installment.amount|floatformat:"2" }}
                        </td>
                        <td>
                            {{ installment.due_date|date:"M/Y" }}
                        </td>
                        <!-- <td>
                            <div class="d-flex align-items-center">
                                <a href="#" class="btn btn-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                    aria-label="Ver" title="Ver">
                                    <i class="icon-base bx bx-show icon-md"></i>
                                </a>
                                <a href="#" class="btn btn-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                    aria-label="Editar" title="Editar">
                                    <i class="icon-base bx bx-edit icon-md"></i>
                                </a>
                                <a href="#" class="btn btn-icon delete-installment" data-bs-toggle="tooltip"
                                    data-bs-placement="top" aria-label="Excluir" title="Excluir">
                                    <i class="icon-base bx bx-trash icon-md"></i>
                                </a>
                            </div>
                        </td> -->
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9" class="text-center">Nenhum registro encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'snippets/pagination.html' %}
        </div>
    </div>
    {% include 'snippets/filtersOffcanvas.html' %}
</div>
{% endblock content %}

{% block extra_scripts %}{% endblock extra_scripts %}