<tr data-object-id="{{ object.id }}">
  <td class="dt-select"><input type="checkbox" class="form-check-input"></td>
  <td><span class="text-heading fw-medium">{{ object.name }}</span></td>
  <td>
    <div class="d-flex align-items-center" title="{{ object.is_income|yesno:'Receita,Despesa' }}">
      <span class="d-inline-block me-2">
        <span class="badge p-1_5 rounded-pill {{ object.is_income|yesno:'bg-label-success,bg-label-danger' }}">
          <i class="icon-base icon-16px {{ object.is_income|yesno:'bx bx-up-arrow-alt,bx bx-down-arrow-alt' }}"></i>
        </span>
      </span>
      {{ object.is_income|yesno:"Receita,Despesa" }}
    </div>
  </td>
  <td><span class="text-truncate">{{ object.description|default:"–"|truncatechars:40 }}</span></td>
  <td class="dt-type-numeric"><span class="fw-medium">{{ object.financial_records.count }}</span></td>
  <td>
    <div class="d-flex align-items-center">
      <button class="btn p-0" hx-get="{% url 'financial:category_update' object.id %}" hx-target="#modalContent"
        hx-swap="innerHTML" data-bs-toggle="modal" data-bs-target="#crudModal">
        <i class="icon-base bx bx-edit icon-md"></i>
      </button>
      <button class="btn p-0" hx-get="{% url 'financial:category_delete' object.id %}" hx-target="#modalContent"
        hx-swap="innerHTML" data-bs-toggle="modal" data-bs-target="#crudModal">
        <i class="icon-base bx bx-trash icon-md"></i>
      </button>
    </div>
  </td>
</tr>