{% extends 'base.html' %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Categoria /</span> Lista</h4>

    <!-- Category List Table -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <button class="btn btn-primary" hx-get="{% url 'financial:category_create' %}" hx-target="#modalContent"
                hx-swap="innerHTML" data-bs-toggle="modal" data-bs-target="#crudModal">
                Adicionar Categoria
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas"
                data-bs-target="#filtersOffcanvas">Filtros</button>
        </div>
        <div class="card-datatable table-responsive">
            <table class="invoice-list-table table border-top mb-3">
                <thead>
                    <tr>
                        <th></th>
                        <div id="new-row-container" style="display:none;"></div>
                        <th>Categoria</th>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Registros</th>
                        <th class="cell-fit">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in category_list %}
                    <tr data-object-id="{{ category.id }}">
                        <td class="dt-select"><input aria-label="Select row" class="form-check-input" type="checkbox" />
                        </td>
                        <td>
                            <span class="text-heading fw-medium">{{ category.name }}</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center"
                                title="{{ category.is_income|yesno:'Receita,Despesa' }}">
                                <span class="d-inline-block me-2">
                                    <span
                                        class="badge p-1_5 rounded-pill {{ category.is_income|yesno:'bg-label-success,bg-label-danger' }}">
                                        <i
                                            class="icon-base icon-16px {{ category.is_income|yesno:'bx bx-up-arrow-alt,bx bx-down-arrow-alt' }}"></i>
                                    </span>
                                </span>
                                {{ category.is_income|yesno:"Receita,Despesa" }}
                            </div>
                        </td>
                        <td>
                            <span class="text-truncate">{{ category.description|default:"-"|truncatechars:40 }}</span>
                        </td>
                        <td class="dt-type-numeric">
                            <span class="fw-medium">{{ category.financial_records.count }}</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <button class="btn p-0" hx-get="{% url 'financial:category_update' category.id %}"
                                    hx-target="#modalContent" hx-swap="innerHTML" data-bs-toggle="modal"
                                    data-bs-target="#crudModal">
                                    <i class="icon-base bx bx-edit icon-md"></i>
                                </button>
                                <a href="#" class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                    data-category-id="{{ category.id }}"
                                    data-financial-records-count="{{ category.financial_records.count }}"
                                    data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Excluir"
                                    title="Excluir">
                                    <i class="icon-base bx bx-trash icon-md"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">Nenhuma categoria encontrada.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'snippets/pagination.html' %}
        </div>
    </div>
    {% include 'snippets/filtersOffcanvas.html' %}
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar deleção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir esta categoria?</p>
                    <p class="text-danger">Essa ação não pode ser desfeita.</p>
                    <p id="categoryFinancialRecordsDeleteWarning">Essa categoria possui <span class="badge bg-danger"
                            id="categoryFinancialRecordsDeleteCount"></span> registros financeiros associados.</p>
                    <input type="hidden" name="delete_id" id="delete_id" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'snippets/partials/modal_base.html' %}
{% endblock content %}

{% block extra_scripts %}{% endblock extra_scripts %}