{% extends 'base.html' %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Categoria /</span> Lista</h4>

    <!-- Category List Table -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <button class="btn btn-primary" hx-get="{% url 'financial:category_create' %}" hx-target="#modalContent"
                hx-swap="innerHTML" data-bs-toggle="modal" data-bs-target="#crudModal">
                Adicionar Categoria
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas"
                data-bs-target="#filtersOffcanvas">Filtros</button>
        </div>
        <div class="card-datatable table-responsive">
            <table class="invoice-list-table table border-top mb-3">
                <thead>
                    <tr>
                        <th></th>
                        <div id="new-row-container" style="display:none;"></div>
                        <th>Categoria</th>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Registros</th>
                        <th class="cell-fit">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in category_list %}
                    {% include "financial/categories/partials/category_row.html" with object=category %}
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">Nenhuma categoria encontrada.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'snippets/pagination.html' %}
        </div>
    </div>
    {% include 'snippets/filtersOffcanvas.html' %}
</div>
{% include 'snippets/partials/modal_base.html' %}
{% endblock content %}

{% block extra_scripts %}{% endblock extra_scripts %}