{% extends 'base.html' %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Forma de Pagamento /</span> Lista</h4>

    <!-- Payment_method List Table -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="{% url 'accounts:payment_method_create' %}" class="btn btn-primary">Adicionar Forma de Pagamento</a>
            <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#filtersOffcanvas">Filtros</button>
        </div>
        <div class="card-datatable table-responsive">
            <table class="invoice-list-table table border-top mb-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>Instituição financeira</th>
                        <th>Dono</th>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th class="cell-fit">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment_method in object_list %}
                    <tr>
                        <td class="dt-select"><input aria-label="Select row" class="form-check-input" type="checkbox" />
                        </td>
                        <td>
                            <span class="text-heading fw-medium">{{ payment_method.fin_institution }}</span>
                        </td>
                        <td>{{ payment_method.owner.name }}</td>
                        <td>{{ payment_method.get_payment_type_display }}</td>
                        <td>{{ payment_method.description|default_if_none:'-'|truncatewords:7 }}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a href="#" class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#editModal"
                                    data-payment_method-id="{{ payment_method.id }}"
                                    data-payment_method-name="{{ payment_method.name }}"
                                    data-payment_method-description="{{ payment_method.description|default:'' }}"
                                    data-payment_method-is-income="{{ payment_method.is_income|yesno:'true,false' }}"
                                    data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Editar" title="Editar">
                                    <i class="icon-base bx bx-edit icon-md"></i>
                                </a>
                                <a href="#" class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                    data-payment_method-id="{{ payment_method.id }}"
                                    data-financial-records-count="{{ payment_method.financial_records.count }}"
                                    data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Excluir"
                                    title="Excluir">
                                    <i class="icon-base bx bx-trash icon-md"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">Nenhuma forma de pagamento encontrada.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row mx-3 justify-content-between">
                <div
                    class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto px-3 pe-md-0 mt-0">
                    <div class="dt-info" aria-live="polite" role="status">
                        Mostrando {{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ page_obj.paginator.count }} forma de pagamentos
                    </div>
                </div>
                <div class="d-md-flex align-items-center dt-layout-end col-md-auto ms-auto justify-content-md-between justify-content-center d-flex flex-wrap gap-sm-4 mb-sm-0 mb-6 mt-0 pe-md-3 ps-0">
                    <div class="dt-paging">
                        <nav aria-label="pagination">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="dt-paging-button page-item">
                                    <a class="page-link previous" href="?page={{ page_obj.previous_page_number }}"
                                        aria-label="Anterior">
                                        <i class="icon-base bx bx-chevron-left scaleX-n1-rtl icon-18px"></i>
                                    </a>
                                </li>
                                {% else %}
                                <li class="dt-paging-button page-item disabled">
                                    <span class="page-link previous" aria-disabled="true">
                                        <i class="icon-base bx bx-chevron-left scaleX-n1-rtl icon-18px"></i>
                                    </span>
                                </li>
                                {% endif %}

                                {% for num in paginator.page_range %}
                                {% if page_obj.number == num %}
                                <li class="dt-paging-button page-item active">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                                {% else %}
                                <li class="dt-paging-button page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                <li class="dt-paging-button page-item">
                                    <a class="page-link next" href="?page={{ page_obj.next_page_number }}"
                                        aria-label="Próximo">
                                        <i class="icon-base bx bx-chevron-right scaleX-n1-rtl icon-18px"></i>
                                    </a>
                                </li>
                                {% else %}
                                <li class="dt-paging-button page-item disabled">
                                    <span class="page-link next" aria-disabled="true">
                                        <i class="icon-base bx bx-chevron-right scaleX-n1-rtl icon-18px"></i>
                                    </span>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'snippets/filtersOffcanvas.html' %}
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar deleção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir esta forma de pagamento?</p>
                    <p class="text-danger">Essa ação não pode ser desfeita.</p>
                    <p id="payment_methodFinancialRecordsDeleteWarning">Essa forma de pagamento possui <span
                            class="badge bg-danger" id="payment_methodFinancialRecordsDeleteCount"></span> registros
                        financeiros associados.</p>
                    <input type="hidden" name="delete_id" id="delete_id" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const payment_methodId = button.getAttribute('data-payment_method-id');
        const deleteIdInput = document.getElementById('delete_id');
        deleteIdInput.value = payment_methodId;
        const financialRecordsCount = button.getAttribute('data-financial-records-count');
        if (financialRecordsCount == 0) {
            payment_methodFinancialRecordsDeleteWarning = document.getElementById('payment_methodFinancialRecordsDeleteWarning').hidden = true;
        } else {
            const payment_methodFinancialRecordsDeleteCount = document.getElementById('payment_methodFinancialRecordsDeleteCount');
            payment_methodFinancialRecordsDeleteCount.textContent = financialRecordsCount;
            payment_methodFinancialRecordsDeleteWarning = document.getElementById('payment_methodFinancialRecordsDeleteWarning').hidden = false;
        }
    });
    deleteModal.addEventListener('hidden.bs.modal', function (event) {
        const deleteIdInput = document.getElementById('delete_id');
        deleteIdInput.value = '';
    });
</script>
{% endblock extra_scripts %}